<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Test Suite">

    <listeners>
        <listener class-name="test_components.Listeners"/>
    </listeners>
    <test thread-count="5" name="Submit Order Test">
        <classes>
            <class name="cart_exercise_tests.SubmitOrderTest"/>
        </classes>
    </test> <!-- Test -->
    <test thread-count="5"  name="Error Validation Test">
        <classes>
            <class name="cart_exercise_tests.ErrorValidationTest"/>
        </classes>
    </test>
</suite>